html{
	font-size: 62.5%;
}
.con_compoentradar canvas{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
}

.con_compoentradar .text{
	font-size:1.6rem;
	position: absolute;
	color:#222;
	transition: all 1s;
	-webkit-transition: all 1s;
}